.gallery {
  display: flex;
  gap: 12px;
}

.gallery-item {
  width: 150px;
  cursor: pointer;
}

/* Lightbox styling */
.lightbox {
  position: fixed;        
  top: 0;                 
  left: 0;                
  width: 100%;            
  height: 100%;           
  background-color: rgba(0, 0, 0, 0.8); 
  display: none;          
  justify-content: center;
  align-items: center;
}


#lightbox-image {
  max-width: 90%;
  max-height: 90%;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
